<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Registro</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="card">
    <h2>Registro de Usuario</h2>
    <form th:action="@{/register}" method="post" th:object="${user}">
        <input type="text" th:field="*{username}" placeholder="Usuario" />
        <input type="password" th:field="*{password}" placeholder="Contraseña" />
        <select th:field="*{roles}" multiple>
            <option value="CLIENT">Cliente</option>
            <option value="ADMIN">Administrador</option>
        </select>
        <button type="submit">Registrar</button>
    </form>
</div>
</body>
</html>